// *{
//   .title-big{
//     width: 100%;
//     font-size: 3rem;
//     display: block;
//     border-radius: .5rem;
//   }
// }
main {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 0;
}
.dash__menu {
  width: 200px;
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .dash__logo {
    margin-bottom: 1.5rem;
  }
  .dash__options {
    ul {
      list-style: none;
      gap: 1rem;
      li {
        cursor: pointer;
        border-radius: 0.5rem;
        a {
          padding: 1rem;
          display: block;
          width: 100%;
          color: #000;
        }
        &:hover {
          background-color: #00000035;
        }
      }
    }
  }
}
.dash__container {
  width: 80%;
  height: 100dvh;
  margin: 0 auto;
  .dash__table__estadisticas {
    margin: 1rem 0 2rem;
    .dash__estadisticas {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 100px;
      gap: 1rem;

      .dash__estadistica {
        width: 100%;
        height: 100%;
        border: 1px solid #00000035;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        i {
          font-size: 3rem;
        }
        div {
          h2 {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .dash__table__pedidos {
    .pedidos-container {
      .pedidos-header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-bottom: .5rem;
        h4 {
          display: block;
          text-align: center;
          width: 100%;
          background-color: #00000035;
          padding: 0.5rem 0;
          border-radius: 0.6rem;
          color: #f7f7f7;
          font-size: 1rem;
        }
      }
      .pedidos-body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .pedido-item {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1rem;
          p {
            border-radius: 0.6rem;
            background-color: #f9f9f9;
            padding: 0.5rem 0 0.5rem 0.5rem;
          }
        }
      }
    }
  }
}
