<aside class="flex flex-col justify-around align-center w-full h-full">
   {{! Form }}
   <section class="bg-gray-200 px-8 py-4 w-full h-max">
      <form
         id="product-form"
         method="post"
         enctype="multipart/form-data"
         action="/api/products/"
         >
         <div class="flex gap-2">
            <div class="flex gap-2 flex-col w-6/12">
               <input
                  type="text"
                  name="title"
                  id="title-input"
                  placeholder="Titulo de producto"
                  class="border-none outline-none text-black px-4 py-2"
                  />
               <textarea
                  name="description"
                  id="description-input"
                  class="border-none outline-none text-black px-4 py-2 resize-none h-32"
                  placeholder="Descripción del producto"
                  ></textarea>
               <input
                  type="text"
                  name="code"
                  id="code-input"
                  placeholder="Codigo del producto: 123d1AS"
                  class="border-none outline-none text-black px-4 py-2"
                  />
               <input
                  type="number"
                  name="price"
                  id="price-input"
                  placeholder="Precio del producto: 112233"
                  class="border-none outline-none text-black px-4 py-2"
                  min="0"
                  pattern="^[0-9]+"
                  />
               <input
                  type="number"
                  name="stock"
                  id="stock-input"
                  placeholder="Stock del producto: 12"
                  class="border-none outline-none text-black px-4 py-2"
                  min="0"
                  pattern="^[0-9]+"
                  />
               <input
                  type="text"
                  name="category"
                  id="category-input"
                  placeholder="mujer,hombre,buzos,remera,etc..."
                  class="border-none outline-none text-black px-4 py-2"
                  />
            </div>
            <div class="flex gap-2 flex-col w-6/12">
               <select name="optionPhotos" id="option-photos" class="border-none outline-none text-black px-4 py-3">
                  <option>Selecciona una opcion</option>
                  <option value="myimg">Mis Imagenes</option>
                  <option value="nomyimg">Imagenes Externas</option>
               </select>
               <div class="w-full" id="photos-input">
                  {{!-- IMG --}}
               </div>
            </div>
         </div>
		 <br>
         <div>
            <input
            type="submit"
            value="Crear Producto"
            class="border-none outline-none px-4 py-2 bg-gray-700 text-white cursor-pointer hover:bg-gray-600 transition-all duration-300 ease-in-out"
            />
            <a href="/panel/productos" class="border-none outline-none px-4 py-2 bg-red-700 text-white cursor-pointer hover:bg-red-600 transition-all duration-300 ease-in-out">
            Cancelar
            </a>
         </div>
      </form>
   </section>
   {{! Preview }}
   <section class="size-full">
      <h1>PREVIEW DE LA INFORMACION</h1>
      {{! IMAGES PROD}}
      <div class="flex">
         <div
            class="h-[300px] w-[600px] flex overflow-x-hidden border bg-gray-200"
            id="image-preview"
            >
            <div
               class="w-full h-full"
               style="background: url('../../image/noimgh.jpg') no-repeat center center / cover;"
               ></div>
         </div>
         {{!CARD}}
         <div>
            <div class="relative rounded-lg overflow-hidden w-[200px] text-black">
               <img
                  class="card-img w-full h-full"
                  src="../../image/noimgv.jpg"
                  alt="imagen nuevo producto"
                  id="img-card"
                  />
               <div
                  class="absolute w-full bg-white bottom-0 flex flex-col justify-between p-4 min-h-20 gap-2"
                  >
                  <div>
                     <h3 class="text-xs font-bold" id="title-card">Titulo de Producto</h3>
                     <p id="price-card">$ 112233</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</aside>
<script type="module">
	function createInputs(){
      document.getElementById("photos-input").innerHTML = ""
      for (let i = 0; i < 4; i++) {
         let input = document.createElement("input")
         input.classList.add("border-none","outline-none","text-black","px-4","py-2","w-full")
         input.setAttribute("name","photoUrl")
         input.setAttribute("type","text")
         input.setAttribute("placeholder","imagen "+(i+1))
         document.getElementById("photos-input").appendChild(input)
      }
	}
   function createFile(){
      document.getElementById("photos-input").innerHTML = ""
      let input = document.createElement("input")
      input.classList.add("myimg")
      input.setAttribute("id","file-input")
      input.setAttribute("type","file")
      input.setAttribute("name","photo")
      input.setAttribute("multiple","")
      input.setAttribute("onchange","previewImages(event)")
      document.getElementById("photos-input").appendChild(input)
   }

	document.getElementById("option-photos").addEventListener("input",(e)=>{
		if (e.target.value === "myimg"){
         createFile()
		}else if(e.target.value === "nomyimg"){
         createInputs()
		}else{
         document.getElementById("photos-input").innerHTML = ""
      }
	})
</script>
<script src="/js/admin/activeActionProduct.js"></script>