<!-- Container -->
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
	<div class="w-96 h-60 rounded-lg flex-shrink-0 flex-grow bg-gray-400"></div>
