<header
  id="headertop"
  class="bg-[#121212] sticky top-0 z-[100] w-full relative"
>
  <section class="w-full text-white">
    <nav class="p-6">
      <div class="relative flex items-center py-4 justify-between">
        <a href="/" class="absolute left-0 flex w-min justify-center flex-col items-center">
          <h1 id="title" class="text-[3rem] font-brygada style-logo" style="transform:scaleY(0.75)">ILICITO</h1>
        </a>
      </div>
    </nav>
  </section>
</header>
<main class="bg-gray-50 h-screen">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        No se pudo encontrar la página.
        <strong class="font-extrabold text-red-700 sm:block"> ERROR 404 </strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed">
        Lo sentimos, la página que buscas no existe. Por favor verifica la URL en la barra de direcciones y vuelve a intentarlo. Si el problema persiste, por favor contacta a nuestro equipo de soporte. Gracias.
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a
          class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
          href="/"
        >
          Inicio
        </a>
      </div>
    </div>
  </div>
</main>