{{> header}}
<main class="index">
    <section class="index-welcome">
        <div class="index-subwelcome">
            <div class="index-title">
                <h2>BIENVENIDO A</h2>
                <h1 class="title-font">PALERMS</h1>
            </div>
            <button class="index-button">
                <a href="/productos">VER PRODUCTOS</a>
            </button>
        </div>
    </section>
    <section class="index-category-container">
        <div class="index-category-hombre-container">
            <h2 class="title-font">+ HOMBRES +</h2>
            <div class="index-category-hombre">
                <div class="index-category">
                    <div class="index-category-item index-category-remerasm">
                        <span>
                            <h3 >REMERAS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-buzosm">
                        <span>

                            <h3 >BUZOS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-pantalonesm">
                        <span>

                            <h3 >PANTALONES</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-shortsm">
                        <span>

                            <h3 >SHORTS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-sweatersm">
                        <span>

                            <h3 >SWEATERS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-camisasm">
                        <span>

                            <h3 >CAMISAS</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-category-mujer-container">
            <h2 class="title-font">+ MUJERES +</h2>
            <div class="index-category-mujer">
                <div class="index-category">
                    <div class="index-category-item index-category-remerasf">
                        <span>

                            <h3>REMERAS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-buzosf">
                        <span>

                            <h3 >BUZOS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-pantalonesf">
                        <span>

                            <h3 >PANTALONES</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-shortsf">
                        <span>

                            <h3 >SHORTS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-vestidosf">
                        <span>

                            <h3 >VESTIDOS</h3>
                        </span>
                    </div>
                    <div class="index-category-item index-category-camisasf">
                        <span>

                            <h3 >CAMISAS</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}
<script>
    swiper = new Swiper(".mySwiper", {
      slidesPerView: 4,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
</script>
<script src="js/{{js}}"></script>