{{> header}}
<main>
    <section class="index__box">
        <div class="index__boxsec01">
            <h3>
                Bienvenido a
            </h3>
            <h2 class="title-font">
                PALERMO
            </h2>
            <p>
                "Donde el estilo y la elegancia se encuentran."
            </p>
            <button>
                Todos los productos
            </button>
        </div>
    </section>
    <section class="index__category--container">
        <h2 class="title-font title-big">+ CATEGORIAS +</h2>
        <div class="index__category--box">
            {{#each sections}}
                {{> card_sections title=this.title area=this.area image=this.image }}
            {{/each}}
        </div>

    </section>
    <section class="index__elements">
        <h2 class="title-font title-big">+ PRODUCTOS +</h2>
        <div class="index__boxelements">
            {{#each products}}
                {{> card_product title=this.title price=this.price thumbnails=this.thumbnails }}
            {{/each}}
        </div>
    </section>

</main>
{{> footer}}