{{> header}}
<main>
<section class="shop__title" style="background: url('image/{{section_title}}.jpg') top center no-repeat;
    background-size: cover;">
    <div class="shop__position">
        <p>PRODUCTOS || {{section_title}}</p>
        <h2 class="title-font title-big">
            + {{section_title}} +
        </h2>
    </div>
</section>
<section class="shop__filters__products">
    <div class="shop__filters">
        {{section_area}}
        <div id="filter-categories">
            <h6>Filtrar por categoría</h6>
            <ul class="clear section-categories" data-id="3" data-section-id="man" style="">
                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox" id="aside_3-37"
                            data-amount="21" value="21">
                        <label class="custom-control-label text-truncate fs-14" for="aside_3-37">Camisas (21)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox" id="aside_3-43"
                            data-amount="10" value="10">
                        <label class="custom-control-label text-truncate fs-14" for="aside_3-43">Remeras Mangas Cortas
                            (10)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox" id="aside_3-41"
                            data-amount="8" value="8">
                        <label class="custom-control-label text-truncate fs-14" for="aside_3-41">Camperas / Chaquetas
                            (8)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox" id="aside_3-39"
                            data-amount="8" value="8">
                        <label class="custom-control-label text-truncate fs-14" for="aside_3-39">Buzos / Hoodies
                            (8)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox" id="aside_3-38"
                            data-amount="3" value="3">
                        <label class="custom-control-label text-truncate fs-14" for="aside_3-38">Pantalones (3)</label>
                    </div>
                </li>
            </ul>
            <ul class="clear section-categories" data-id="ofertas" data-section-id="ofertas" style="display:none">

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox"
                            id="aside_ofertas-37" data-amount="17" value="17">
                        <label class="custom-control-label text-truncate fs-14" for="aside_ofertas-37">Camisas
                            (17)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox"
                            id="aside_ofertas-43" data-amount="7" value="7">
                        <label class="custom-control-label text-truncate fs-14" for="aside_ofertas-43">Remeras Mangas
                            Cortas (7)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox"
                            id="aside_ofertas-39" data-amount="6" value="6">
                        <label class="custom-control-label text-truncate fs-14" for="aside_ofertas-39">Buzos / Hoodies
                            (6)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox"
                            id="aside_ofertas-45" data-amount="2" value="2">
                        <label class="custom-control-label text-truncate fs-14" for="aside_ofertas-45">Bermudas / Shorts
                            (2)</label>
                    </div>
                </li>

                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input filter-categories-checkbox"
                            id="aside_ofertas-38" data-amount="1" value="1">
                        <label class="custom-control-label text-truncate fs-14" for="aside_ofertas-38">Pantalones
                            (1)</label>
                    </div>
                </li>
            </ul> <a href="#" id="show-all-categories" style="">Ver todas</a>
        </div>
    </div>
    <div class="shop__products">
        {{#each products}}
        {{> card_product title=this.title price=this.price thumbnails=this.thumbnails }}
        {{/each}}
    </div>
</section>
</main>
{{> footer}}