<a
  class="index__category index__category01"
  href="/productos/{{title}}"
  style="grid-area: {{area}}; background: url('/image/{{image}}') no-repeat center center; background-size: cover;"
>
  <div class="index__category--title">
    <h4>{{title}}</h4>
  </div>
</a>