<footer class="footer bg-white w-full flex items-center justify-center flex-col py-12 gap-4">
    <div class="footer__navegation">
        <ul class="flex justify-center items-center gap-8 flex-wrap list-none">
            <li><a href="#" class="text-black">Abecedar</a></li>
            <li><a href="#" class="text-black">Abecedar</a></li>
            <li><a href="#" class="text-black">Abecedar</a></li>
            <li><a href="#" class="text-black">Abecedar</a></li>
            <li><a href="#" class="text-black">Abecedar</a></li>
        </ul>
    </div>
    <div class="footer__reds">
        <ul class="flex justify-center items-center gap-8 list-none">
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fas fa-briefcase"></i></a></li>
        </ul>
    </div>
    <div class="footer__explore">
        <a href="#" class="text-black mr-2">Repositorio con el código</a>
        <a href="#" class="text-black">Jairo Tumiri</a>
    </div>
</footer>
