<footer class="footer">
    <div class="footer-navegatin">
        <ul>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
        </ul>
    </div>
    <div class="footer-reds">
        <ul>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-github"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-solid fa-briefcase"></i></a></li>
        </ul>
    </div>
    <div class="footer-explore">
        <a href=""></a>
        <a href=""></a>
    </div>
</footer>