<footer class="footer">
    <div class="footer__navegation">
        <ul>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
            <li><a href="">Abecedar</a></li>
        </ul>
    </div>
    <div class="footer__reds">
        <ul>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-github"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-solid fa-briefcase"></i></a></li>
        </ul>
    </div>
    <div class="footer__explore">
        <a href="">Repositorio con el codigo</a>
        <a href="">Jairo Tumiri</a>
    </div>
</footer>