<footer class="flex justify-center bg-[#121212]">
    <p class="m-auto p-12 text-xs text-white">
      © 2023 Andy - Indumentaria. Todos los derechos reservados. by
      <a
        class="hover:opacity-75"
        href
        target="_blank"
        rel="noreferrer"
      >Jairo</a>
    </p>
</footer>