<header class="header">
<div class="header__container">
  <div class="header__logo">
    <a href="/inicio">
      <h2 class="header__title title-font">PALERMO</h2>
    </a>
  </div>
  <div class="header__menu">
    <ul>
      <li><a href="/inicio">Inicio</a></li>
      <li><a href="/hombre">Hombre</a></li>
      <li><a href="/mujer">Mujer</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
    </ul>
  </div>
  <div class="header__icons">
    <ul class="">
      <li class="header__icon"><i class="fa-solid fa-heart"></i></li>
      <li class="header__icon"><i class="fa-solid fa-cart-shopping"></i><span>1</span></li>
      <li class="header__icon"><i class="fa-solid fa-user"></i><a>Iniciar Sesion</a></li>
    </ul>
  </div>
</div>
</header>