<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <button class="header__active__mobile">
        <i class="fa-solid fa-bars"></i>
      </button>
      <a href="/inicio">
        <h2 class="style-logo title-font">PALERMO</h2>
      </a>
    </div>
    <div class="header__menu">
      <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/hombre">Hombre</a></li>
        <li><a href="/mujer">Mujer</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="header__icons">
      <ul class="">
        <li class="header__icon"><i class="fa-solid fa-heart"></i></li>
        <li class="header__icon"><i class="fa-solid fa-cart-shopping"></i><span
          >1</span></li>
        <li class="header__icon"><i class="fa-solid fa-user"></i><a>Iniciar
            Sesion</a></li>
      </ul>
    </div>
  </div>
  <div class="header__mobile desactive">
    <div class="mobile__container">
      <div class="mobile__logo">
        <button class="header__desactive__mobile">
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
      <ul class="mobile__menu">
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/hombre">Hombre</a></li>
        <li><a href="/mujer">Mujer</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>