<nav>
  <div class="wrapper">
    <label for="menu-btn" class="btn menu-btn"><i
        class="fas fa-bars"
      ></i></label>
    <div class="logo"><a href="/" class="title-font">PALERMS</a></div>
    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i
          class="fas fa-times"
        ></i></label>
      <li><a href="/">Inicio</a></li>
      <li>
        <a href="/productos" class="desktop-item">Productos</a>
        <input type="checkbox" id="showMega" />
        <label for="showMega" class="mobile-item">Productos</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img
                src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg"
                alt=""
              />
            </div>
            <div class="row">
              <header>Design Services</header>
              <ul class="mega-links">
                <li><a href="#">Graphics</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Business cards</a></li>
                <li><a href="#">Custom logo</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Email Services</header>
              <ul class="mega-links">
                <li><a href="#">Personal Email</a></li>
                <li><a href="#">Business Email</a></li>
                <li><a href="#">Mobile Email</a></li>
                <li><a href="#">Web Marketing</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Security services</header>
              <ul class="mega-links">
                <li><a href="#">Site Seal</a></li>
                <li><a href="#">VPS Hosting</a></li>
                <li><a href="#">Privacy Seal</a></li>
                <li><a href="#">Website design</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
    <ul class="nav-icons">
      <li>
        <i class="fa-solid fa-heart"></i>
      </li>
      <li>
        <i class="fa-solid fa-cart-shopping"></i>
      </li>
      <li class="mobile-user">
        <i class="fa-solid fa-user"></i>
        <span>
          <p>Iniciar Sesion</p>
        </span>
      </li>
    </ul>
  </div>
</nav>