<header
  id="headertop"
  class="bg-[#fdfdfd] sticky top-0 z-[100] w-full relative"
>
  <section class="w-full">
    <nav class="">
      <div class="flex items-center px-4">
        <div>
          <span>
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </div>
        <div class="flex w-full justify-center flex-col items-center mx-auto">
          <h1 id="title" class="font-black text-[3rem]"><span
              class="text-[#EF4444]"
            >A</span>ndy</h1>
          <p id="desc" class="text-xs font-bold">INDUMENTARIA</p>
        </div>
        <div class="flex gap-4 relative">
          <a href="/login">
            <i class="fa-regular fa-user"></i>
          </a>
          <span id="open-cart" class="cursor-pointer flex">
            <i class="fa-solid fa-bag-shopping"></i>
            <span class="count-prod-number"></span>
          </span>
        </div>
      </div>
      <div class="w-10/12 mx-auto py-2">
        <hr class="border-black border-1" />
      </div>
      <ul
        class="hidden gap-16 items-center justify-center p-2 font-normal text-[14px] md:flex"
      >
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos?promocion=true">SALE</a></li>
        <li><a href="/productos?categoria=indumentaria">Indumentaria</a></li>
        <li><a href="/productos?categoria=accesorio">Accesorios</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </section>

  <section
    class="fixed z-[102]  h-dvh top-0 right-0 w-full bg-black bg-opacity-50 hidden transition-all duration-300 ease-in-out"
    id="container-cart"
  >
    <aside class="relative h-full w-full ml-auto border border-gray-600 bg-gray-100 px-6 py-8 md:w-[450px]">
      <button
        id="close-cart"
        class="absolute end-4 top-4 text-gray-600 transition hover:scale-110"
      >
        <span class="sr-only">Close cart</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
      <div class="space-y-6 h-full flex flex-col justify-between items-center">
        <ul class="space-y-4 h-full w-full overflow-y-scroll list-prod-cart">
          {{!-- Products --}}
        </ul>
        <div class=" text-center w-full">
          <a
            href="/carrito/65d7b3de63c428e285a9c75a"
            class="block w-full rounded border border-gray-600 px-5 py-3 text-sm text-gray-600 transition hover:ring-1 hover:ring-gray-400"
          >
            Ver mi carrito (<span class="count-prod-number"></span>)
          </a>
        </div>
      </div>
    </aside>
  </section>
</header>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

window.addEventListener('scroll', () => {
    const title = document.getElementById('title');
    const desc = document.getElementById('desc');
    if (window.scrollY > 1) {
        title.style.transition = 'all 300ms ease-in-out';
        title.style.fontSize = '2rem';
        desc.style.display = 'none';
    } else {
        title.style.transition = 'all 500 ms ease-in-out'; 
		    title.style.fontSize = '3 rem '; 
      	desc.style.display= 'block';
    }
});
const action_cart = () =>{
    const container_cart = document.getElementById('container-cart');
    container_cart.classList.toggle('hidden');
}
const item_cart = (product,quantity) => {
    const li = document.createElement('li');
    li.classList.add('py-1',"px-2",'bg-white',"rounded-md");
    li.innerHTML =`
    <div class="flex justify-between items-center" >
        <img src="../image/products/${product.photo[0]}" alt="${product.title}" class="w-16 h-16 object-cover rounded">
        <div class="flex flex-col">
           <span class="text-sm">${product.title}</span>
           <span class="text-sm">${product.price}</span>
        </div>
        <span class="text-sm">${quantity}</span>
    </div>
    `;
    return li;
}

const header = document.getElementById('headertop');
const open_cart = document.getElementById('open-cart');
const count_prod_number = document.querySelectorAll('.count-prod-number');
const list_prod = document.querySelector('.list-prod-cart');
const close_cart = document.getElementById('close-cart');
open_cart.addEventListener('click',action_cart)
close_cart.addEventListener('click',action_cart)

fetch('/api/carts/65d7b3de63c428e285a9c75a')
    .then(response => response.json())
    .then(data => {
        count_prod_number.forEach(item => item.textContent = data.products.length);
        data.products.forEach(product => {
            list_prod.appendChild(item_cart(product.pid,product.quantity));
        });
        
    })
    .catch(error => {
        console.log(error);
    })


</script>