<main>
  <section class="dash__menu">
    <div class="dash__logo">
      <a href="/dashboard/">
        <h4 class="title-font style-logo">PALERMO</h4>
      </a>
    </div>
    <div class="dash__options">
      <ul>
        <li><a href="/dashboard/">Inicio</a></li>
        <li><a href="/dashboard/productos">Productos</a></li>
        <li><a href="/dashboard/pedidos">Pedidos</a></li>
        <li><a href="/dashboard/usuarios">Usuarios</a></li>
        <li><a href="/dashboard/configuraciones">Configuraciones</a></li>
      </ul>
    </div>
  </section>
  <section class="dash__container">
    <div class="dash__table__estadisticas">
      <h2>Informacion</h2>
      <div class="dash__estadisticas">
        <div class="dash__estadistica dash__hombre">
          <i class="fa-solid fa-tags"></i>
          <div>
            <h5>Productos</h5>
            <H2>100</H2>
          </div>
        </div>
        <div class="dash__estadistica dash__mujer">
          <i class="fa-solid fa-cart-shopping"></i>
          <div>
            <h5>Pedidos</h5>
            <h2>23</h2>
          </div>
        </div>
        <div class="dash__estadistica dash__usuarios">
          <i class="fa-solid fa-user"></i>
          <div>
            <h5>Usuarios</h5>
            <h2>204</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="dash__table__pedidos">
      <h2>Ultimos Pedidos</h2>
      <div class="pedidos-container">
        <div class="pedidos-header">
          <h4>Id usuario</h4>
          <h4>Id Pedido</h4>
          <h4>Fecha</h4>
          <h4>Estado</h4>
        </div>
        <div class="pedidos-body">
          <div class="pedido-item">
            <p>1</p>
            <p>1</p>
            <p>12/12/2021</p>
            <p>Entregado</p>
          </div>
          <div class="pedido-item">
            <p>2</p>
            <p>2</p>
            <p>12/12/2021</p>
            <p>Entregado</p>
        </div>
      </div>
    </div>
  </section>
</main>