<div
  class="border-b border-gray-600 flex px-6 py-2 items-center flex-none shadow-xl"
  data-mid="6661334bb516de6c4a6e0876" id="container-chat"
>
  <div class="flex flex-col">
    <h3 class="text-white mb-1 font-bold text-xl text-gray-100">
      <span class="text-gray-400">#</span>
      general
    </h3>
  </div>
</div>
<div class="px-6 py-4 flex-1 overflow-y-scroll" id="on-messages-container">
  {{!-- MESSAGE --}}
</div>
<div class="p-4 flex">
  <input
    type="text"
    class="p-4 h-full w-full px-4 bg-gray-600 rounded-lg overflow-hidden text-white border-none outline-none"
    placeholder="Message #general"
    id="message-input"
  />
  <input
    type="button"
    value="Enviar"
    class="bg-red-900 p-4 border-none text-white rounded-lg cursor-pointer"
  />
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const messageId = document.getElementById("container-chat");
  const messageInput = document.getElementById("message-input");
  const messagesContainer = document.getElementById("on-messages-container");

  messageInput.addEventListener("keypress", (e) => {
    if (e.key === "Enter") {
      socket.emit("input_chat",{mid: messageId.dataset.mid , role: "admin" ,message: e.target.value});
      e.target.value = "";
    }
  });
  
  socket.on("container_chat", (messages) => {
    messagesContainer.innerHTML = "";
    messages.forEach((msg) => {;
      if(msg.role !== "user"){
        const div = `<div class="flex items-start justify-end"><div class="bg-[#010101] p-3 rounded-lg"><p class="text-sm text-white">${msg.message}</p></div></div>`;
        messagesContainer.innerHTML += div;
      }else{
        const div = `<div class="flex items-end"><div class="ml-3 bg-gray-100 p-3 rounded-lg"><p class="text-sm text-gray-800">${msg.message}</p></div></div>`;
        messagesContainer.innerHTML += div;
      }
    });
  });
  
</script>