<section class="size-full flex flex-col bg-white align-center justify-center gap-8">
    <header class="size-min mx-auto">
        <a href="/" class="flex items-center justify-center space-x-3 w-max">
            <span class="bg-black rounded-full w-8 h-8"></span>
            <span class="flex w-min justify-center flex-col items-center">
                <h1
                    id="title"
                    class="text-[3rem] font-brygada style-logo"
                    style="transform:scaleY(0.75)"
                >ILICITO</h1>
            </span>
        </a>
    </header>
    <aside class="max-w-lg p-4 mx-auto">
        <div class="text-center mb-8">
            <h2 class="text-3xl md:text-4xl font-extrabold mb-2">¿Olvidaste tu contraseña?</h2>
			<p>Lo entendemos, suceden cosas. ¡Simplemente ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer su contraseña!</p>
        </div>
        <form action="" class="flex flex-col gap-4">
            <input
                class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal"
                type="email"
                name="email"
                placeholder="Correo de recuperación"
            />
            <button
                type="submit"
                class="flex items-center justify-center flex-none px-3 py-2 md:px-4 md:py-3 border-2 rounded-lg font-medium border-black bg-black text-white"
            >Confirmar</button>

        </form>
    </aside>
</section>
