<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
      rel="shortcut icon" 
      href="https://cdn-icons-png.flaticon.com/512/12205/12205479.png" 
      type="image/jpeg" />
    {{! ICONS }}
    <script
      src="https://kit.fontawesome.com/de8fe1cee1.js"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.tailwindcss.com"></script>
    {{!Link Swiper's CSS }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>{{ admin.title }}</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Anton&family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
      * {
        margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      text-decoration: none;
      }

      * .font-brygada {
        font-family: "Brygada 1918", sans-serif;
      }

      * .font-josefin {
        font-family: "Josefin Sans", sans-serif;
      }
      * .font-anton {
        font-family: "Anton", sans-serif;
      }
      * .style-logo {
        text-shadow: 0px 0px 15px rgb(255, 255, 255);
      }

      *::-webkit-scrollbar {
        width: 8px;
      }

      *::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
      }

      *::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);
        border: 3px solid rgb(0, 0, 0);
      }
    </style>
  </head>
  <body class="h-screen w-full bg-white relative flex overflow-hidden">
      <!-- Sidebar -->
      <aside class="h-full w-0 flex flex-col space-y-10 items-center justify-center relative bg-[#121212] text-white sm:w-max sm:px-4">
        <!-- Profile -->
        <a href="/panel/" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-[#121212] hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-white">
          <svg viewBox="0 0 20 20" fill="currentColor"><path
            fill-rule="evenodd"
            d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
            clip-rule="evenodd"
          /></svg>
        </a>

        <!-- Courses -->
        <a href="/panel/productos" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-white">
          {{>icons/store x="30" y="30"}}
        </a>

        <!-- Theme -->
        <a href="/panel/chat" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-white">
          {{> icons/message x="30" y="30"}}
        </a>

        <!-- logout -->
        <a href="/api/sessions/logout" class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white  hover:duration-300 hover:ease-linear focus:bg-white">
          {{>icons/logout x="30" y="30"}}
        </a>
      </aside>

      <div class="w-full h-full flex flex-col justify-between">
        <!-- Header -->
        {{>admin/header user=admin.info}}

        <!-- Main -->
        <main  id="layout-admin" class="w-full h-full flex relative overflow-y-scroll p-2">
            <!-- Container -->
                {{{body}}}
        </main>
  </body>
</html>


{{!-- https://tailwindcomponents.com/component/product-card-12 --}}