<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
      rel="shortcut icon" 
      href="/image/avatar.png" 
      type="image/png" />
  {{! ICONS }}
  <script src="https://kit.fontawesome.com/de8fe1cee1.js" crossorigin="anonymous"></script>
  <script src="//cdn.tailwindcss.com"></script>
  {{!Link Swiper's CSS }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>{{user.title}}</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      text-decoration: none;
    }

    * .font-brygada {
      font-family: "Brygada 1918", sans-serif;
    }

    * .font-josefin {
      font-family: "Josefin Sans", sans-serif;
    }

    * .font-anton {
      font-family: "Anton", sans-serif;
    }

    * .style-logo {
      text-shadow: 0px 0px 15px rgb(255, 255, 255);
    }

    body::-webkit-scrollbar {
      width: 8px;
    }

    body::-webkit-scrollbar-track {
      background: rgb(255, 255, 255);
    }

    body::-webkit-scrollbar-thumb {
      background-color: rgb(0, 0, 0);
      border: 3px solid rgb(0, 0, 0);
    }
  </style>
</head>

<body>
  {{>user/header user=user}}
  <main class="relative py-2">
    {{{body}}}
    {{#if user.exist}}
      {{>user/circlechat}}
    {{/if}}
  </main>
  <footer class="flex justify-center bg-[#121212] flex-col items-center p-12 gap-4 text-white">
    <div class="flex justify-between items-center">
      <a href="https://github.com/jaiiirot" target="_black">{{>icons/github x="30" y="30"}}</a>
      <a href="https://linkedin.com/in/jairotumiri/" target="_black">{{>icons/linkedin x="30" y="30"}}</a>
    </div>
    <p class="m-auto text-xs">
      © 2023 Andy - Indumentaria. Todos los derechos reservados. by
      <a class="hover:opacity-75" href target="_blank" rel="noreferrer">Jairo</a>
    </p>
  </footer>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
      const ToastNotification = (message, icon = "warning") => {
    const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: icon,
      title: message
    });
  }
  </script>
</body>

</html>